In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.float_format", lambda x: "%.2f" % x)
pd.set_option("display.width", 500)

# Datasets

In [3]:
train = pd.read_csv("Data/train.csv")
test = pd.read_csv("Data/test.csv")
sample = pd.read_csv("Data/sample_submission.csv")

In [4]:
train.head()

   id  CustomerId         Surname  CreditScore Geography Gender   Age  Tenure   Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0   0    15674932  Okwudilichukwu          668    France   Male 33.00       3      0.00              2       1.00            0.00        181449.97       0
1   1    15749177   Okwudiliolisa          627    France   Male 33.00       1      0.00              2       1.00            1.00         49503.50       0
2   2    15694510           Hsueh          678    France   Male 40.00      10      0.00              2       1.00            0.00        184866.69       0
3   3    15741417             Kao          581    France   Male 34.00       2 148882.54              1       1.00            1.00         84560.88       0
4   4    15766172       Chiemenam          716     Spain   Male 33.00       5      0.00              2       1.00            1.00         15068.83       0

In [5]:
train.drop("id", axis = 1, inplace = True)
test.drop("id", axis = 1, inplace = True)

In [6]:
def data_summary(dataframe):
    print("############## SHAPE ##############")
    print(dataframe.shape[0])
    print("############## TYPES ##############")
    print(dataframe.dtypes)
    print("############## NULL ##############")
    print(dataframe.isnull().sum())
    print("############ DESCRIBE ############")
    print(dataframe.describe([0.0, 0.25, 0.50, 0.75, 0.90, 0.95, 0.99]).T)

In [7]:
data_summary(train)

############## SHAPE ##############
165034
############## TYPES ##############
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
Exited               int64
dtype: object
############## NULL ##############
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64
############ DESCRIBE ############
                    count        mean      std         min          0%         25%         50%         75%         90%         95%         99%         max
CustomerId      165034.00 15692005.02 71397.82 15565701.00 15565701.00 15633141.00 15690169.00 15756824.00 15790678.00 15800514.00 15810723.00 15815690.00
CreditScore     165034.00      656.45    80.10      350.00      350.00      597.00      659.00      710.00      754.00      787.00      850.00      850.00
Age             165034.00       38.13     8.87       18.00       18.00       32.00       37.00       42.00       50.00       56.00       66.00       92.00
Tenure          165034.00        5.02     2.81        0.00        0.00        3.00        5.00        7.00        9.00        9.00       10.00       10.00
Balance         165034.00    55478.09 62817.66        0.00        0.00        0.00        0.00   119939.52   139959.05   151671.55   172325.67   250898.09
NumOfProducts   165034.00        1.55     0.55        1.00        1.00        1.00        2.00        2.00        2.00        2.00        3.00        4.00
HasCrCard       165034.00        0.75     0.43        0.00        0.00        1.00        1.00        1.00        1.00        1.00        1.00        1.00
IsActiveMember  165034.00        0.50     0.50        0.00        0.00        0.00        0.00        1.00        1.00        1.00        1.00        1.00
EstimatedSalary 165034.00   112574.82 50292.87       11.58       11.58    74637.57   117948.00   155152.47   176843.53   183490.27   196236.46   199992.48
Exited          165034.00        0.21     0.41        0.00        0.00        0.00        0.00        0.00        1.00        1.00        1.00        1.00

In [8]:
data_summary(test)

############## SHAPE ##############
110023
############## TYPES ##############
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
dtype: object
############## NULL ##############
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64
############ DESCRIBE ############
                    count        mean      std         min          0%         25%         50%         75%         90%         95%         99%         max
CustomerId      110023.00 15692096.61 71684.99 15565701.00 15565701.00 15632859.00 15690175.00 15756926.00 15790829.00 15801395.00 15810864.00 15815690.00
CreditScore     110023.00      656.53    80.32      350.00      350.00      597.00      660.00      710.00      754.00      788.00      850.00      850.00
Age             110023.00       38.12     8.86       18.00       18.00       32.00       37.00       42.00       50.00       56.00       66.00       92.00
Tenure          110023.00        5.00     2.81        0.00        0.00        3.00        5.00        7.00        9.00        9.00       10.00       10.00
Balance         110023.00    55333.61 62788.52        0.00        0.00        0.00        0.00   120145.60   139986.50   151290.16   172325.67   250898.09
NumOfProducts   110023.00        1.55     0.54        1.00        1.00        1.00        2.00        2.00        2.00        2.00        3.00        4.00
HasCrCard       110023.00        0.75     0.43        0.00        0.00        1.00        1.00        1.00        1.00        1.00        1.00        1.00
IsActiveMember  110023.00        0.50     0.50        0.00        0.00        0.00        0.00        1.00        1.00        1.00        1.00        1.00
EstimatedSalary 110023.00   112315.15 50277.05       11.58       11.58    74440.33   117832.23   154631.35   176750.81   183399.12   195892.29   199992.48

In [9]:
train["Geography"].value_counts()

France     94215
Spain      36213
Germany    34606
Name: Geography, dtype: int64

In [10]:
pd.DataFrame({
    "Customer_count" : train.groupby(["Geography", "Gender"])["CustomerId"].count(),
    "Exited_count": train.groupby(["Geography", "Gender"])["Exited"].sum(),
    "Target_ratio": (train.groupby(["Geography", "Gender"])["Exited"].sum() / train.groupby("Geography")["CustomerId"].count()) *100,
    "Total_ratio": (train.groupby(["Geography", "Gender"])["Exited"].sum() / train["Exited"].shape[0]) *100,
    "Salary_mean": train.groupby(["Geography", "Gender"])["EstimatedSalary"].mean()
})

                  Customer_count  Exited_count  Target_ratio  Total_ratio  Salary_mean
Geography Gender
France    Female           39976          9002          9.55         5.45    112752.81
          Male             54239          6570          6.97         3.98    112285.74
Germany   Female           16388          7596         21.95         4.60    114748.88
          Male             18218          5518         15.95         3.34    113085.45
Spain     Female           15520          3507          9.68         2.13    111883.21
          Male             20693          2728          7.53         1.65    111336.08

In [11]:
train["Surname"].nunique()

2797

In [12]:
train["Surname"].value_counts()[0:10]

Hsia       2456
T'ien      2282
Hs?        1611
Kao        1577
Maclean    1577
Ts'ui      1567
P'eng      1503
H?         1420
Hsueh      1306
Shih       1251
Name: Surname, dtype: int64

In [13]:
train["CustomerId"].nunique()

23221

In [14]:
customer_list = train["CustomerId"].unique()
len(customer_list)

23221

In [15]:
train.loc[train["Age"] == 92]

        CustomerId     Surname  CreditScore Geography  Gender   Age  Tenure   Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
17173     15723373        Hsia          543    France    Male 92.00       6      0.00              2       1.00            1.00         61290.99       0
43508     15660878       T'ien          752    France    Male 92.00       1 126076.24              2       1.00            1.00         34436.83       0
59479     15691624  Chidiebere          820    France    Male 92.00       0      0.00              2       1.00            1.00         23067.97       0
62569     15660871       Ch'iu          774     Spain    Male 92.00       9 126076.24              2       1.00            1.00         34436.83       0
74699     15660878       T'ien          696    France    Male 92.00       9      0.00              1       0.00            1.00        163563.07       1
116359    15655961     Palermo          790    France    Male 92.00       1      0.00              2       0.00            1.00         93302.29       0
121560    15660878       T'ien          775     Spain    Male 92.00       1 126076.24              2       1.00            1.00         34436.83       0
136841    15764927      Rogova          753    France    Male 92.00       3 121513.31              1       1.00            0.00        195563.99       0
162163    15589975     Maclean          721    France  Female 92.00       3  97259.25              2       0.00            1.00        104719.66       0
163138    15721917        Lung          684    France  Female 92.00       3  95139.41              1       1.00            1.00         86575.46       0
164009    15586523     Brookes          705    France  Female 92.00       1 126076.24              1       1.00            1.00         34436.83       0

In [16]:
train.loc[train["CustomerId"] == 15660878]

        CustomerId   Surname  CreditScore Geography  Gender   Age  Tenure   Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
1329      15660878     T'ien          743    France    Male 76.00       9 126076.24              1       1.00            1.00         34436.83       0
11256     15660878  Ndubueze          714     Spain    Male 25.00       1      0.00              2       1.00            1.00        103381.77       0
43508     15660878     T'ien          752    France    Male 92.00       1 126076.24              2       1.00            1.00         34436.83       0
49584     15660878  Flannery          638    France    Male 39.00       3      0.00              2       0.00            1.00        105080.53       0
74699     15660878     T'ien          696    France    Male 92.00       9      0.00              1       0.00            1.00        163563.07       1
86176     15660878     T'ien          545   Germany  Female 38.00       3 114754.08              1       1.00            0.00        136050.44       0
94261     15660878     T'ien          705    France    Male 42.00       1 126076.24              2       1.00            1.00         34436.83       0
121560    15660878     T'ien          775     Spain    Male 92.00       1 126076.24              2       1.00            1.00         34436.83       0
139905    15660878     Brown          610    France  Female 47.00       1      0.00              2       0.00            1.00         80178.54       0

In [23]:
pd.pivot_table(data=train, index=["CustomerId", "Surname", "Geography", "Gender"], values=["Age", "NumOfProducts"] ).head(30)

                                         Age  NumOfProducts
CustomerId Surname    Geography Gender
15565701   Bruno      Spain     Male   49.00           2.00
           Chineze    France    Male   32.00           1.00
           Ferri      France    Female 39.00           1.00
15565706   Akobundu   France    Male   37.00           1.00
                      Spain     Male   35.00           1.00
           Chung      Germany   Male   39.00           2.00
           McGregor   France    Male   34.00           2.00
15565714   Cattaneo   Spain     Male   47.00           2.00
           Davis      France    Female 34.00           2.00
           Yermakov   France    Male   38.00           1.00
15565759   Uwakwe     France    Female 59.00           1.00
15565779   Ch'in      Germany   Female 43.00           1.00
           De Luca    France    Male   38.00           2.00
           Kao        France    Female 36.00           1.00
           Lai        France    Female 40.00           2.00
           Trevisani  France    Male   31.00           2.00
15565796   Docherty   France    Male   39.00           1.00
                      Germany   Female 32.00           1.00
                                Male   48.00           1.00
           P'eng      Germany   Male   52.00           1.00
           Palerma    France    Male   36.00           2.00
           Toscani    France    Male   20.00           1.00
           Y?an       France    Female 34.00           2.00
           Yermakov   France    Female 35.00           2.00
15565806   Chidubem   France    Male   38.00           1.00
           Lockington France    Male   54.00           2.00
           Nucci      Spain     Female 33.00           1.00
           Obialo     France    Male   44.00           2.00
           Toosey     France    Male   34.00           1.00
           Zetticci   Spain     Male   40.00           2.00