In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.neighbors import LocalOutlierFactor
from __init__ import *


# Modelling
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

# Evaluation
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [2]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.float_format", lambda x: "%.2f" % x)
pd.set_option("display.width", 500)

In [3]:
data = pd.read_csv("Data/train.csv")
test = pd.read_csv("Data/test.csv")
sample = pd.read_csv("Data/sample_submission.csv")

In [4]:
data.drop("id", axis = 1, inplace = True)
test.drop("id", axis = 1, inplace = True)

In [5]:
data_summary(data)

############## SHAPE ##############
165034
############## TYPES ##############
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
Exited               int64
dtype: object
############## NULL ##############
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64
############ DESCRIBE ############
                    count        mean      std         min          0%         25%         50%         75%         90%         95%         99%         max
CustomerId      165034.00 15692005.02 71397.82 15565701.00 15565701.00 15633141.00 15690169.00 15756824.00 15790678.00 15800514.00 15810723.00 15815690.00
CreditScore     165034.00      656.45    80.10      350.00      350.00      597.00      659.00      710.00      754.00      787.00      850.00      850.00
Age             165034.00       38.13     8.87       18.00       18.00       32.00       37.00       42.00       50.00       56.00       66.00       92.00
Tenure          165034.00        5.02     2.81        0.00        0.00        3.00        5.00        7.00        9.00        9.00       10.00       10.00
Balance         165034.00    55478.09 62817.66        0.00        0.00        0.00        0.00   119939.52   139959.05   151671.55   172325.67   250898.09
NumOfProducts   165034.00        1.55     0.55        1.00        1.00        1.00        2.00        2.00        2.00        2.00        3.00        4.00
HasCrCard       165034.00        0.75     0.43        0.00        0.00        1.00        1.00        1.00        1.00        1.00        1.00        1.00
IsActiveMember  165034.00        0.50     0.50        0.00        0.00        0.00        0.00        1.00        1.00        1.00        1.00        1.00
EstimatedSalary 165034.00   112574.82 50292.87       11.58       11.58    74637.57   117948.00   155152.47   176843.53   183490.27   196236.46   199992.48
Exited          165034.00        0.21     0.41        0.00        0.00        0.00        0.00        0.00        1.00        1.00        1.00        1.00

In [6]:
data_summary(test)

############## SHAPE ##############
110023
############## TYPES ##############
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
dtype: object
############## NULL ##############
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64
############ DESCRIBE ############
                    count        mean      std         min          0%         25%         50%         75%         90%         95%         99%         max
CustomerId      110023.00 15692096.61 71684.99 15565701.00 15565701.00 15632859.00 15690175.00 15756926.00 15790829.00 15801395.00 15810864.00 15815690.00
CreditScore     110023.00      656.53    80.32      350.00      350.00      597.00      660.00      710.00      754.00      788.00      850.00      850.00
Age             110023.00       38.12     8.86       18.00       18.00       32.00       37.00       42.00       50.00       56.00       66.00       92.00
Tenure          110023.00        5.00     2.81        0.00        0.00        3.00        5.00        7.00        9.00        9.00       10.00       10.00
Balance         110023.00    55333.61 62788.52        0.00        0.00        0.00        0.00   120145.60   139986.50   151290.16   172325.67   250898.09
NumOfProducts   110023.00        1.55     0.54        1.00        1.00        1.00        2.00        2.00        2.00        2.00        3.00        4.00
HasCrCard       110023.00        0.75     0.43        0.00        0.00        1.00        1.00        1.00        1.00        1.00        1.00        1.00
IsActiveMember  110023.00        0.50     0.50        0.00        0.00        0.00        0.00        1.00        1.00        1.00        1.00        1.00
EstimatedSalary 110023.00   112315.15 50277.05       11.58       11.58    74440.33   117832.23   154631.35   176750.81   183399.12   195892.29   199992.48

# **Modelling with No preprocessing**

In [7]:
df = data.copy()
df.head()

   CustomerId         Surname  CreditScore Geography Gender   Age  Tenure   Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0    15674932  Okwudilichukwu          668    France   Male 33.00       3      0.00              2       1.00            0.00        181449.97       0
1    15749177   Okwudiliolisa          627    France   Male 33.00       1      0.00              2       1.00            1.00         49503.50       0
2    15694510           Hsueh          678    France   Male 40.00      10      0.00              2       1.00            0.00        184866.69       0
3    15741417             Kao          581    France   Male 34.00       2 148882.54              1       1.00            1.00         84560.88       0
4    15766172       Chiemenam          716     Spain   Male 33.00       5      0.00              2       1.00            1.00         15068.83       0

In [8]:
# Label Encoder

lab = LabelEncoder()
df["Gender"] = lab.fit_transform(data["Gender"])
print(lab.inverse_transform([0,1]))

df["Geography"] = lab.fit_transform(data["Geography"])
print(lab.inverse_transform([0,1,2]))

['Female' 'Male']
['France' 'Germany' 'Spain']

In [9]:
df.drop(["CustomerId", "Surname"], axis = 1, inplace=True)

In [10]:
y = df["Exited"]
x = df.drop("Exited", axis = 1)

In [11]:
print(x.shape)
print(y.shape)

(165034, 10)
(165034,)

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y , test_size=0.20, random_state= 42)

In [13]:
models = {
    'Logistic Regression' : LogisticRegression(),
    'Support Vector Machines' : LinearSVC(),
    'Decision Trees' : DecisionTreeClassifier(),
    'Random Forest' : RandomForestClassifier(),
    'Naive Bayes' : GaussianNB(),
    'K-Nearest Neighbor' : KNeighborsClassifier()
}

In [14]:
evaluation(models, x_train, x_test, y_train, y_test)

c:\Program Files\Anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
c:\Program Files\Anaconda\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
c:\Program Files\Anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearSVC was fitted with feature names
  warnings.warn(
c:\Program Files\Anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
c:\Program Files\Anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Program Files\Anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(
c:\Program Files\Anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

                         Accuracy  Precision  Recall  F1 Score
Logistic Regression          0.79       0.49    0.12      0.20
Support Vector Machines      0.76       0.38    0.20      0.26
Decision Trees               0.80       0.52    0.54      0.53
Random Forest                0.86       0.72    0.54      0.61
Naive Bayes                  0.79       0.53    0.19      0.28
K-Nearest Neighbor           0.76       0.31    0.12      0.17

Reminder:
* Accuracy: It is the ratio of the entire sample that is correctly classified.
* Precision: It is the ratio of actually positive predictions to all positive predictions.
* Recall: It shows how much of the values we estimate as positive are actually positive.